body.colorful {
  --text: #fae2db;
  --link: #1ce8c6;
  --link-accent: #eeddff;
  --link-hover: #00ccaa;
  --header-bg: #4d2941;
  --body-bg: #38303b;
  --app-bg: #222;
  --dark-accent: #280000;
  --light-accent: #a5c9d9;
}
body.dark {
  --text: #fae2db;
  --link: #fae2db;
  --link-accent: #eeddff;
  --link-hover: #eeddff;
  --header-bg: #2b2f31;
  --body-bg: #181a1b;
  --app-bg: #484e51;
  --dark-accent: #280000;
  --light-accent: #a5c9d9;
}
body.light {
  --text: #280000;
  --link: #280000;
  --link-accent: #280000;
  --link-hover: #280000;
  --header-bg: #eee;
  --body-bg: white;
  --app-bg: #aaa;
  --dark-accent: #a5c9d9;
  --light-accent: #280000;
}
::selection {
  background-color: #5e856b;
}
* {
  color: var(--text);
}
div {
  font-family: "Open Sans", sans-serif;
}
.merriweather {
  font-family: Merriweather, serif;
}
.link,
a {
  text-decoration: none;
  color: var(--link);
  transition: 0.5s ease;
}
.link:hover,
a:hover {
  --link: var(--link-hover);
}
body {
  transition: all 0.5s ease;
}
@media print {
  #app {
    --text: #280000;
    --link: #280000;
    --link-accent: #280000;
    --link-hover: #280000;
    --header-bg: #eee;
    --body-bg: white;
    --app-bg: #aaa;
    --dark-accent: #a5c9d9;
    --light-accent: #280000;
  }
}

/* @media print {
  :root {
    --text: #280000;
    --link: #280000;
    --link-accent: #280000;
    --link-hover: #280000;
    --header-bg: #eee;
    --body-bg: white;
    --app-bg: #aaa;
    --dark-accent: #a5c9d9;
    --light-accent: #280000;
  }
} */
@page {
  margin: 0;
}

:root {
  --mobile-width: 500px;
}
