:root {
  --text: #280000;
  --link: black;
  --link-hover: black;
  --header-bg: #ddd;
  --body-bg: white;
  --app-bg: #aaa;
  --dark-accent: #a5c9d9;
  --light-accent: #280000;
}

@page {
  margin: 0;
}
